<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#3ed2a7" />
    <meta name="description" content="Responde las preguntas, y te mostramos el auto perfecto para ti. Déjanos sorprenderte. Proceso 100% online.">
    <meta name="author" content="Multigenios SA de CV">

    <meta property="og:title" content="Motor City"/>
    <meta property="og:image" content="/images/logo_short.png"/>
    <meta property="og:description" content="Responde las preguntas, y te mostramos el auto perfecto para ti. Déjanos sorprenderte. Proceso 100% online."/>
    <meta property="og:author" content="Multigenios SA de CV"/>

    <link rel="shortcut icon" href="./favicon.png" />

    <title>Motor City</title>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700"
      rel="stylesheet"
    />

    <%/* If you want to discourage search engines from indexing this site,
    uncomment the following line: */%> <%/*
    <meta name="robots" content="noindex" />
    */%>

    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "1827244597527369");
      fbq("track", "PageView");
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        src="https://www.facebook.com/tr?id=1827244597527369&ev=PageView
      &noscript=1"
      />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-128557981-4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-128557981-4");
    </script>

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/js/vendors/liquid-icon/liquid-icon.min.css">
    <link rel="stylesheet" href="/js/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main-vendors.min.css">
    <link rel="stylesheet" href="/styles/main.min.css">
    <link rel="stylesheet" href="/styles/themes/core.css">
    <!--STYLES END-->
  </head>

  <body
    data-mobile-nav-trigger-alignment="right"
    data-mobile-nav-align="left"
    data-mobile-nav-style="minimal"
    data-mobile-nav-shceme="gray"
    data-mobile-header-scheme="gray"
    data-mobile-nav-breakpoint="1199"
  >
    <header class="main-header main-header-overlay">
      <div class="mainbar-wrap">
        <div class="container mainbar-container">
          <div class="mainbar">
            <div class="row mainbar-row align-items-lg-stretch">
              <div class="col">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/" rel="home">
                    <span class="navbar-brand-inner">
                      <img
                        width="140"
                        class="logo-default"
                        src="../../images/logo.png"
                        alt="Motor City"
                      />
                    </span>
                  </a>
                  <button
                    type="button"
                    class="navbar-toggle collapsed nav-trigger style-mobile"
                    data-toggle="collapse"
                    data-target="#main-header-collapse"
                    aria-expanded="false"
                    data-changeclassnames='{ "html": "mobile-nav-activated overflow-hidden" }'
                  >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="bars">
                      <span class="bar"></span>
                      <span class="bar"></span>
                      <span class="bar"></span>
                    </span>
                  </button>
                </div>
                <!-- /.navbar-header -->
              </div>
              <!-- /.col -->

              <div class="col text-center">
                <div
                  class="collapse navbar-collapse"
                  id="main-header-collapse"
                  aria-expanded="false"
                  role="tablist"
                >
                  <ul
                    id="primary-nav"
                    class="main-nav main-nav-hover-underline-2 nav align-items-lg-stretch justify-content-lg-center text-white"
                    data-submenu-options='{ "toggleType": "fade", "handler": "mouse-in-out" }'
                  >
                    <li class="current-menu-item">
                      <a href="/#">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt">Home</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="/#how-it-works">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt">Cómo funciona</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="/#benefits">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt">Beneficios</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="https://motorcity.mx/blog/" target="_blank">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt">Blog</span>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.maonbar-row -->
          </div>
          <!-- /.mainbar -->
        </div>
        <!-- /.mainbar-container -->
      </div>
      <!-- /.mainbar-wrap -->
    </header>
    <%- body %>

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->

    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <footer class="main-footer pt-100 pb-90">
      <section>
        <div class="container">
          <div class="row d-md-flex flex-wrap align-items-center mb-4">
            <div class="lqd-column col-md-4 col-md-offset-1 col-sm-12">
              <ul class="social-icon social-icon-md mb-25">
                <li>
                  <a
                    href="https://www.facebook.com/motorcitymx/"
                    target="_blank"
                    ><i class="fa fa-facebook"></i>/motorcitymx</a
                  >
                </li>
              </ul>
            </div>
            <!-- /.col-md-4 -->

            <div class="lqd-column col-md-2 col-md-offset-2 col-xs-12">
              <h3 class="widget-title">Navegación</h3>
              <ul class="lqd-custom-menu reset-ul font-size-16 lh-2">
                <li><a href="/#">Home</a></li>
                <li><a href="/#how-it-works">Cómo funciona</a></li>
                <li><a href="/#benefits">Beneficios</a></li>
              </ul>
            </div>
            <!-- /.col-md-2 -->

            <div class="lqd-column col-md-3 col-xs-12">
              <h3 class="widget-title">Acerca de Nosotros</h3>
              <ul class="lqd-custom-menu reset-ul font-size-16 lh-2">
                <li>
                  <a href="/terminos-y-condiciones">Términos y condiciones</a>
                </li>
                <li><a href="/aviso-de-privacidad">Aviso de Privacidad</a></li>
                <li>
                  <a href="https://motorcity.mx/blog/" target="_blank">Blog</a>
                </li>
                <!-- <li><a href="/faq">Preguntas frecuentes</a></li> -->
              </ul>
            </div>
            <!-- /.col-md-2 -->
          </div>
          <!-- /.row -->

          <div class="row text-center font-size-16">
            <div class="col-xs-12">
              <span>
                Nuestra oficina registrada: Av. Paseo de las Palmas 735, Lomas
                de Chapultepec I Secc, Miguel Hidalgo, 11000 Ciudad de México,
                CDMX.
              </span>
              <p>
                2021 ©
                <span class="text-secondary font-weight-bold">
                  MotorCity.mx
                </span>
                - Todos los derechos reservados. Al usar este sitio, aceptas
                nuestra política de privacidad, así como nuestros términos y
                condiciones.
              </p>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </section>
    </footer>
    <!-- /.main-footer -->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/vendors/jquery.min.js"></script>
    <script src="/js/theme-vendors.js"></script>
    <script src="/js/theme.min.js"></script>
    <!--SCRIPTS END-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  </body>
</html>
