:root {
  --color-primary: #ffb09f;
  --color-secondary: #34dbc5;
  --color-gradient-start: #ffa5cd;
  --color-gradient-stop: #ffba83;
  --color-gradient-start-secondary: #4fda91;
  --color-gradient-stop-secondary: #34dbc5;
}

body {
  font-family: 'Glacial Indifference', sans-serif;
  line-height: 1.5em;
  font-size: 18px;
  color: #808291;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'Glacial Indifference', sans-serif;
  color: #0a0a0a;
}

.h1, h1 {
  font-weight: 400;
  line-height: 1.2em;
  font-size: 53px;
}

.h2, h2 {
  font-weight: 400;
  line-height: 1.2em;
  font-size: 48px;
}

.h3, h3 {
  font-weight: 400;
  line-height: 1.5;
  font-size: 30px;
}

.h4, h4 {
  font-weight: 400;
  line-height: 1.5;
  font-size: 24px;
}

.h5, h5 {
  font-weight: 400;
  line-height: 1.7;
  font-size: 21px;
}

.h6, h6 {
  font-weight: 400;
  line-height: 1.5;
  font-size: 17px;
  color: #a7a9b8;
}

.main-nav > li > a {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
}
.main-nav > li.active > a, .main-nav > li.current-menu-item > a, .main-nav > li > a:hover {
  color: #a7a9b8;
}
.btn-bordered {
  color: #ffb09f;
}

.vc-intro {
  background-image: url('../../img/mockups/intro2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.vc-benefits {
  background-image: url('../../demo/misc/car-benefits.jpg');
  background-size: cover;
}

.testimonial .avatar {
    width: 110px;
}

.titlebar-inner h1 {
  font-weight: 400;
}


.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
    border-radius: 25px;
}

.inputGroup label {
    font-size: 12px;
    padding: 12px 30px;
    font-weight: initial;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    border-radius: 25px;
  }

.inputGroup label:before{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #5562eb;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
    z-index: -1;
  }

  .inputGroup label:after{
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
  }

  .inputGroup input:checked ~ label{
    color: #fff;
  }

  .inputGroup input:checked ~ label:before{
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
  }

  .inputGroup input:checked ~ label:after{
    background-color: #54E0C7;
    border-color: #54E0C7;
  }

  .inputGroup input{
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }

.text-question{
  margin-top: 6rem;
}


@media (min-width: 992px) {
  .inputGroup label{
    font-size: 16px;
  }

  .text-question{
    margin-top: 0;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
