<div
  class="titlebar titlebar-sm scheme-light text-center"
  style="background-image: url(../../images/faq.jpg); background-size: cover"
>
  <div class="titlebar-inner">
    <div class="container titlebar-container">
      <div class="row titlebar-container">
        <div
          class="titlebar-col col-md-12"
          data-custom-animations="true"
          data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":26,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
        >
          <h1
            class="h2 mt-0 mb-4 mb-2 lh-1 text-white"
            data-fittext="true"
            data-fittext-options='{ "compressor":0.5,"maxFontSize": 100,"minFontSize": 32 }'
            data-split-text="true"
            data-split-options='{"type":"words"}'
          >
            Faq
          </h1>
          <a
            class="titlebar-scroll-link"
            href="#content"
            data-localscroll="true"
            ><i class="fa fa-angle-down"></i
          ></a>
        </div>
        <!-- /.titlebar-col -->
      </div>
      <!-- /.titlebar-row -->
    </div>
    <!-- /.titlebar-container -->
  </div>
  <!-- /.titlebar-inner -->
</div>
<!-- /.titlebar -->

<main id="content" class="content">
  <section class="vc_row pt-50 pb-50 bb-gray">
    <div class="container">
      <div class="row">
        <div class="lqd-column col-md-8 col-md-offset-2">
          <header class="fancy-heading mb-5">
            <h2>Preguntas frecuentes</h2>
          </header>

          <div
            class="accordion accordion-tall accordion-body-underlined accordion-expander-lg accordion-active-color-primary"
            id="accordion-2"
            role="tablist"
          >
            <div class="accordion-item panel  active">
              <div
                class="accordion-heading"
                role="tab"
                id="accordion-collapse-heading-1"
              >
                <h4 class="accordion-title font-size-19 font-weight-bold">
                  <a
                    class=""
                    data-toggle="collapse"
                    data-parent="#accordion-2"
                    href="#accordion-collapse-panel-1"
                    aria-expanded="true"
                    aria-controls="accordion-collapse-panel-1"
                  >
                    Common PayPal and credit card issues
                    <span class="accordion-expander">
                      <i class="icon-arrows_circle_plus"></i>
                      <i class="icon-arrows_circle_minus"></i>
                    </span>
                  </a>
                </h4>
              </div>
              <!-- /.accordion-heading -->
              <div
                id="accordion-collapse-panel-1"
                class="accordion-collapse collapse in"
                role="tabpanel"
                aria-labelledby="accordion-collapse-heading-1"
              >
                <div class="accordion-content">
                  <p>
                    Bitcoin is designed around the idea of using cryptography to
                    control the creation and transfer of money in any time.
                  </p>
                </div>
                <!-- /.accordion-content -->
              </div>
              <!-- /.collapse -->
            </div>
            <!-- /.accordion-item -->

            <div class="accordion-item panel">
              <div
                class="accordion-heading"
                role="tab"
                id="accordion-collapse-heading-2"
              >
                <h4 class="accordion-title font-size-19 font-weight-bold">
                  <a
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#accordion-2"
                    href="#accordion-collapse-collapse-2"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-collapse-2"
                  >
                    How to trade with Litecoin
                    <span class="accordion-expander">
                      <i class="icon-arrows_circle_plus"></i>
                      <i class="icon-arrows_circle_minus"></i>
                    </span>
                  </a>
                </h4>
              </div>
              <!-- /.accordion-heading -->
              <div
                id="accordion-collapse-collapse-2"
                class="accordion-collapse collapse"
                role="tabpanel"
                aria-labelledby="accordion-collapse-heading-2"
              >
                <div class="accordion-content">
                  <p>
                    Bitcoin is designed around the idea of using cryptography to
                    control the creation and transfer of money in any time.
                  </p>
                </div>
                <!-- /.accordion-content -->
              </div>
              <!-- /.collapse -->
            </div>
            <!-- /.accordion-item -->

            <div class="accordion-item panel">
              <div
                class="accordion-heading"
                role="tab"
                id="accordion-collapse-heading-3"
              >
                <h4 class="accordion-title font-size-19 font-weight-bold">
                  <a
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#accordion-2"
                    href="#accordion-collapse-collapse-3"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-collapse-3"
                  >
                    Transfer and trade digital currencies in England
                    <span class="accordion-expander">
                      <i class="icon-arrows_circle_plus"></i>
                      <i class="icon-arrows_circle_minus"></i>
                    </span>
                  </a>
                </h4>
              </div>
              <!-- /.accordion-heading -->
              <div
                id="accordion-collapse-collapse-3"
                class="accordion-collapse collapse"
                role="tabpanel"
                aria-labelledby="accordion-collapse-heading-3"
              >
                <div class="accordion-content">
                  <p>
                    Bitcoin is designed around the idea of using cryptography to
                    control the creation and transfer of money in any time.
                  </p>
                </div>
                <!-- /.accordion-content -->
              </div>
              <!-- /.collapse -->
            </div>
            <!-- /.accordion-item -->
          </div>
          <!-- /.accordion -->
        </div>
        <!-- /.lqd-column col-md-8 col-md-offset-2 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
</main>
