<main id="content" class="content">
  <section
    id="home"
    class="vc-intro vc_row fullheight d-flex align-items-center"
    ng-app="app"
  >
    <div class="lqd-particles-bg-wrap">
      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-1"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":150},"color":{"value":"#ccc"},"shape":{"type":["circle", "polygon"]},"opacity":{"value":0.75,"random":true,"anim":{"enable":true,"opacity_min":0.2,"speed":0,"sync":true}},"size":{"value":3,"random":true,"anim":{"enable":true,"size_min":50,"speed":0}},"move":{"enable":true,"direction":"none","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'
        ></div>
        <!-- /.lqd-particles-inner -->
      </div>
      <!-- /.ld-particles-container -->
    </div>
    <!-- /.lqd-particles-bg-wrap -->

    <div class="container" ng-controller="home as vm" ng-cloak>
      <div class="row justify-content-center">
        <div class="lqd-column col-xs-12 col-sm-10 col-sm-offset-1 py-8s">
          <div
            class="lqd-column-inner w-100 text-center"
            data-custom-animations="true"
            data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":26,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
          >
            <h2
              class="mt-md-6 mt-0 mb-4 mb-2 lh-1 text-white"
              data-fittext="true"
              data-fittext-options='{ "compressor":0.5,"maxFontSize": 150,"minFontSize": 62 }'
              data-split-text="true"
              data-split-options='{"type":"words"}'
            >
              Motor City
            </h2>

            <div class="row">
              <div
                class="lqd-column col-md-8 col-md-offset-2 px-3"
                data-custom-animations="true"
                data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150", "startDelay": 120,"easing":"easeOutQuint","direction":"forward","initValues":{"translateY":26,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
              >
                <p
                  class="font-size-30 px-md-4 mb-md-7 text-white"
                  data-split-text="true"
                  data-split-options='{"type":"lines"}'
                  style="padding: 0.5rem; background-color: rgba(0, 0, 0, 0.7);"
                >
                  Responde las preguntas, y te mostramos el auto perfecto para
                  ti.<br /><br />
                  Déjanos sorprenderte
                </p>

                <a
                  href="/registro"
                  class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2"
                >
                  <span>
                    <span class="btn-txt">Ponme a Prueba</span>
                  </span>
                </a>
              </div>
              <!-- /.col-md-8 col-md-offset-2 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.lqd-column-inner -->
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <section id="how-it-works" class="vc_row pt-140 pb-120 bg-light">
    <div class="container">
      <div class="row d-flex flex-wrap align-items-center">
        <div
          class="col-lg-6 col-lg-offset-3"
          data-custom-animations="true"
          data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
        >
          <header class="fancy-title mb-40">
            <!-- <h6 class="font-size-13 text-uppercase ltr-sp-05">Easy to use</h6> -->
            <h2
              class="mt-4"
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              Cómo funciona <span class="text-secondary">Motor City</span>
            </h2>
          </header>

          <div
            class="accordion accordion-square accordion-title-bordered accordion-title-circle accordion-active-has-shadow accordion-active-has-fill accordion-sm accordion-active-bg-white"
            id="accordion-1"
            role="tablist"
          >
            <div class="accordion-item panel active">
              <div class="accordion-heading" role="tab" id="heading1-1">
                <h4 class="accordion-title font-size-18 lh-2">
                  <a
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion-1"
                    href="#collapse1"
                    aria-expanded="true"
                    aria-controls="collapse1"
                  >
                    Paso. 1 Haz clic en “Quiero conocer mi auto ideal”
                    <span class="accordion-expander">
                      <i class="fa fa-angle-down"></i>
                      <i class="fa fa-angle-up"></i>
                    </span>
                  </a>
                </h4>
              </div>
              <!-- /.accordion-headeing -->

              <div
                id="collapse1"
                class="accordion-collapse collapse in"
                role="tabpanel"
                aria-labelledby="heading1-1"
              >
                <div class="accordion-content">
                  <a href="/registro"
                    ><p>
                      Quiero conocer mi auto ideal
                    </p></a
                  >
                </div>
                <!-- /accordion-content -->
              </div>
              <!-- /accordion-collapse -->
            </div>
            <!-- /.accordion-item -->

            <div class="accordion-item panel">
              <div class="accordion-heading" role="tab" id="heading2">
                <h4 class="accordion-title font-size-18 lh-2">
                  <a
                    class="collapsed"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion-1"
                    href="#collapse2"
                    aria-expanded="false"
                    aria-controls="collapse2"
                  >
                    Paso. 2 Contesta las preguntas honestamente
                    <span class="accordion-expander">
                      <i class="fa fa-angle-down"></i>
                      <i class="fa fa-angle-up"></i>
                    </span>
                  </a>
                </h4>
              </div>
              <!-- /.accordion-headeing -->

              <div
                id="collapse2"
                class="accordion-collapse collapse"
                role="tabpanel"
                aria-labelledby="heading2"
              >
                <div class="accordion-content">
                  <p>
                    Nuestro sistema inteligente, analizará tus respuestas, y te
                    mostrará las opciones de automóviles que podrías comprar en
                    este momento.
                  </p>
                </div>
                <!-- /accordion-content -->
              </div>
              <!-- /accordion-collapse -->
            </div>
            <!-- /.accordion-item -->

            <div class="accordion-item panel">
              <div class="accordion-heading" role="tab" id="heading3">
                <h4 class="accordion-title font-size-18 lh-2">
                  <a
                    class="collapsed"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion-1"
                    href="#collapse3"
                    aria-expanded="false"
                    aria-controls="collapse3"
                  >
                    Paso. 3 Selecciona la opción que deseas
                    <span class="accordion-expander">
                      <i class="fa fa-angle-down"></i>
                      <i class="fa fa-angle-up"></i>
                    </span>
                  </a>
                </h4>
              </div>
              <!-- /.accordion-headeing -->

              <div
                id="collapse3"
                class="accordion-collapse collapse"
                role="tabpanel"
                aria-labelledby="heading3"
              >
                <div class="accordion-content">
                  <p>
                    Selecciona el auto que deseas, y te enviaremos con el
                    vendedor, para que puedas conocer más detalles sobre el
                    mismo.
                  </p>
                </div>
                <!-- /accordion-content -->
              </div>
              <!-- /accordion-collapse -->
            </div>
            <!-- /.accordion-item -->
          </div>
          <!-- /.accordion -->
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <a
              href="/registro"
              class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2"
            >
              <span>
                <span class="btn-txt">Quiero conocer mi auto ideal</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- /.container -->
  </section>

  <section id="benefits" class="vc_row pt-60 pb-250 vc-benefits">
    <div class="container">
      <div class="row">
        <div
          class="lqd-column col-md-6"
          data-custom-animations="true"
          data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
        >
          <header class="fancy-title">
            <h6
              class="text-fade-white-05 text-uppercase text-dark ltr-sp-2 font-size-12"
            >
              motorcity.mx
            </h6>
            <h2
              class="text-white"
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              Grandes <span class="text-secondary">Beneficios</span>
            </h2>
          </header>
        </div>
        <!-- /.col-md-6 col-md-offset-3 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <section id="testimonials" class="vc_row pull-up pt-4">
    <div class="container">
      <div
        class="row"
        data-custom-animations="true"
        data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
      >
        <div class="lqd-column col-md-4 col-sm-6">
          <div
            class="iconbox iconbox-semiround iconbox-shadow iconbox-xl iconbox-filled iconbox-filled iconbox-filled-hover iconbox-light-onhover bg-ebony-clay pt-65 pb-65"
          >
            <div class="iconbox-icon-wrap">
              <span class="iconbox-icon-container text-white">
                <i class="icon-basic_elaboration_browser_check"></i>
              </span>
            </div>
            <!-- /.iconbox-icon-wrap -->
            <div class="contents">
              <h3 class="text-white font-size-21 mb-25">Proceso 100% online</h3>
              <p class="text-fade-white-06 small">
                Sin salir de casa, sin tener que buscar mucho: contesta 8
                preguntas, y te mostramos los automóviles que podrías comprar en
                este momento.
              </p>
            </div>
            <!-- /.contents -->
          </div>
          <!-- /.iconbox -->
        </div>
        <!-- /.col-md-3 col-sm-6 -->

        <div class="lqd-column col-md-4 col-sm-6">
          <div
            class="iconbox iconbox-semiround iconbox-shadow iconbox-xl iconbox-filled iconbox-filled iconbox-filled-hover iconbox-light-onhover bg-ebony-clay pt-65 pb-65"
          >
            <div class="iconbox-icon-wrap">
              <span class="iconbox-icon-container text-white">
                <i class="icon-ion-ios-car"></i>
              </span>
            </div>
            <!-- /.iconbox-icon-wrap -->
            <div class="contents">
              <h3 class="text-white font-size-21 mb-25">
                Autos nuevos o usados
              </h3>
              <p class="text-fade-white-06">
                Somos socios de las marcas de autos más reconocidas del mundo.
                Sólo te mostraremos opciones adecuadas para tu perfil.
              </p>
            </div>
            <!-- /.contents -->
          </div>
          <!-- /.iconbox -->
        </div>
        <!-- /.col-md-3 col-sm-6 -->

        <div class="lqd-column col-md-4 col-sm-6">
          <div
            class="iconbox iconbox-semiround iconbox-shadow iconbox-xl iconbox-filled iconbox-filled iconbox-filled-hover iconbox-light-onhover bg-ebony-clay pt-65 pb-65"
          >
            <div class="iconbox-icon-wrap">
              <span class="iconbox-icon-container text-white">
                <i class="icon-basic_bolt"></i>
              </span>
            </div>
            <!-- /.iconbox-icon-wrap -->
            <div class="contents">
              <h3 class="text-white font-size-21 mb-25">Respuesta inmediata</h3>
              <p class="text-fade-white-06">
                Una vez que respondas las preguntas, nuestro sistema tomará
                menos de 30 segundos para mostrarte las opciones.
              </p>
            </div>
            <!-- /.contents -->
          </div>
          <!-- /.iconbox -->
        </div>
        <!-- /.col-md-3 col-sm-6 -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <a
              href="/registro"
              class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2"
            >
              <span>
                <span class="btn-txt">Muéstrame mi auto perfecto</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- /.container -->
  </section>

  <section class="vc_row pt-75 pb-75">
    <div class="container">
      <div
        class="row text-center"
        data-custom-animations="true"
        data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
      >
        <div class="lqd-column col-md-6 col-md-offset-3">
          <header class="fancy-title mb-40">
            <h2
              class="mt-4"
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              Nuestros clientes nos
              <span class="text-secondary">recomiendan ampliamente</span>
            </h2>
          </header>
        </div>
      </div>
      <div
        class="row"
        data-custom-animations="true"
        data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
      >
        <div class="lqd-column col-md-8 col-md-offset-2">
          <div class="carousel-container testimonial-quote-1">
            <div
              class="carousel-items row testimonials-quote-only"
              data-lqd-flickity='{ "prevNextButtons": true, "buttonsAppendTo": ".testimonial-details-1", "navOffsets": { "nav": { "top": "30%" } } }'
            >
              <div class="carousel-item col-xs-12">
                <div
                  class="testimonial testimonial-xl testimonial-details-sm text-center testimonials-quote-only"
                >
                  <div class="testimonial-quote">
                    <blockquote>
                      <p class="text-arapawa">
                        <!-- <strong class="font-weight-bold"
                          >“One is the early leader...</strong
                        >
                        <br /> -->
                        <small class="text-arapawa"
                          >“La verdad es un servicio único, algo nuevo que
                          funciona bien.”</small
                        >
                      </p>
                    </blockquote>
                  </div>
                  <!-- /.testimonial-qoute -->
                </div>
                <!-- /.testimonial -->
              </div>
              <!-- /.col-xs-12 -->

              <div class="carousel-item col-xs-12">
                <div
                  class="testimonial testimonial-xl testimonial-details-sm text-center testimonials-quote-only"
                >
                  <div class="testimonial-quote">
                    <blockquote>
                      <p class="text-arapawa">
                        <!-- <strong class="font-weight-bold"
                          >“One is the early leader...</strong
                        >
                        <br /> -->
                        <small class="text-arapawa"
                          >“Siempre me ha costado elegir el coche adecuado.
                          MotorCity me ayudó rápido y gratis.”</small
                        >
                      </p>
                    </blockquote>
                  </div>
                  <!-- /.testimonial-qoute -->
                </div>
                <!-- /.testimonial -->
              </div>
              <!-- /.col-xs-12 -->

              <div class="carousel-item col-xs-12">
                <div
                  class="testimonial testimonial-xl testimonial-details-sm text-center testimonials-quote-only"
                >
                  <div class="testimonial-quote">
                    <blockquote>
                      <p class="text-arapawa">
                        <!-- <strong class="font-weight-bold"
                          >“One is the early leader...</strong
                        >
                        <br /> -->
                        <small class="text-arapawa">
                          Una maravilla, te muestran justo lo que necesitas
                          según tu perfil. Súper recomendado.”</small
                        >
                      </p>
                    </blockquote>
                  </div>
                  <!-- /.testimonial-qoute -->
                </div>
                <!-- /.testimonial -->
              </div>
              <!-- /.col-xs-12 -->
            </div>
            <!-- /.carousel-items -->
          </div>
          <!-- /.carousel-container -->

          <div
            class="carousel-container carousel-nav-floated pos-rel testimonial-details-1"
          >
            <div
              class="carousel-items row testimonials-details"
              data-lqd-flickity='{ "prevNextButtons": false, "asNavFor": ".testimonial-quote-1 [data-lqd-flickity]" }'
            >
              <div class="carousel-item col-lg-4 col-md-4 col-xs-6">
                <div
                  class="testimonial testimonial-xl testimonial-details-sm text-center testimonials-details-only"
                >
                  <div class="testimonial-details">
                    <figure class="avatar">
                      <img
                        src="../../images/testimonials/testi-1.jpg"
                        alt="Avatar"
                      />
                    </figure>
                    <div class="testimonial-info">
                      <h5>Bernardo Ventura</h5>
                    </div>
                    <!-- /.testimonial-info -->
                  </div>
                  <!-- /.testimonial-details -->
                </div>
                <!-- /.testimonial -->
              </div>
              <!-- /.col-lg-3 -->

              <div class="carousel-item col-lg-4 col-md-4 col-xs-6">
                <div
                  class="testimonial testimonial-xl testimonial-details-sm text-center testimonials-details-only"
                >
                  <div class="testimonial-details">
                    <figure class="avatar">
                      <img
                        src="../../images/testimonials/testi-2.jpg"
                        alt="Avatar"
                      />
                    </figure>
                    <div class="testimonial-info">
                      <h5>José Antonio</h5>
                    </div>
                    <!-- /.testimonial-info -->
                  </div>
                  <!-- /.testimonial-details -->
                </div>
                <!-- /.testimonial -->
              </div>
              <!-- /.col-lg-3 -->

              <div class="carousel-item col-lg-4 col-md-4 col-xs-6">
                <div
                  class="testimonial testimonial-xl testimonial-details-sm text-center testimonials-details-only"
                >
                  <div class="testimonial-details">
                    <figure class="avatar">
                      <img
                        src="../../images/testimonials/testi-3.jpg"
                        alt="Avatar"
                      />
                    </figure>
                    <div class="testimonial-info">
                      <h5>Laura Palma</h5>
                    </div>
                    <!-- /.testimonial-info -->
                  </div>
                  <!-- /.testimonial-details -->
                </div>
                <!-- /.testimonial -->
              </div>
              <!-- /.col-lg-3 -->
            </div>
            <!-- /.carousel-items -->
          </div>
          <!-- /.carousel-container -->
        </div>
        <!-- /.lqd-column col-md-8 col-md-offset-2 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <script src="/js/vendors/angular/angular.js"></script>
  <script src="/js/controllers/home.js"></script>
</main>
