<div
  class="titlebar titlebar-sm scheme-light text-center"
  style="background-image: url(../../images/faq.jpg); background-size: cover;"
>
  <div class="titlebar-inner">
    <div class="container titlebar-container">
      <div class="row titlebar-container">
        <div
          class="titlebar-col col-md-12"
          data-custom-animations="true"
          data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":26,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
        >
          <h1
            class="h2 mt-0 mb-4 mb-2 lh-1 text-white"
            data-fittext="true"
            data-fittext-options='{ "compressor":0.5,"maxFontSize": 70,"minFontSize": 32 }'
            data-split-text="true"
            data-split-options='{"type":"words"}'
          >
            Aviso de privacidad
          </h1>
          <a
            class="titlebar-scroll-link"
            href="#content"
            data-localscroll="true"
            ><i class="fa fa-angle-down"></i
          ></a>
        </div>
        <!-- /.titlebar-col -->
      </div>
      <!-- /.titlebar-row -->
    </div>
    <!-- /.titlebar-container -->
  </div>
  <!-- /.titlebar-inner -->
</div>
<!-- /.titlebar -->

<main id="content" class="content">
  <section class="vc_row pb-50">
    <div class="container">
      <div class="row">
        <div class="lqd-column col-md-8 col-md-offset-2">
          <h4 class="font-weight-bold">FECHA DE EMISIÓN: 08/2020</h4>
          <p>
            Aviso de privacidad
            <span class="text-secondary font-weight-bold">motorcity.mx</span> es
            propiedad de y es operado por Multigenios SA de CV. El siguiente
            Aviso de privacidad protege tu información personal de acuerdo con
            la Ley Federal de Protección de Datos en Posesión de los
            Particulares. Este Aviso de privacidad explica cómo recolectaremos y
            usaremos algunos de tus datos personales, laborales, financieros y
            patrimoniales, así como las medidas de control y prevención tomados
            para asegurar que tu información esté segura y permanezca
            confidencial. Responsable En cumplimiento con la Ley Federal de
            Protección de Datos Personales en Posesión de los Particulares,
            Multigenios SA de CV, (en adelante
            <span class="text-secondary font-weight-bold">motorcity.mx</span>)
            te informa que
            <span class="text-secondary font-weight-bold">motorcity.mx</span> es
            responsable de la recolección, utilización, almacenamiento,
            comunicación y protección de tus datos personales. El "Usuario"
            podrá contactar a
            <span class="text-secondary font-weight-bold">motorcity.mx</span> en
            cualquier momento a través del correo electrónico
            <span class="text-secondary font-weight-bold">
              info@leadgenios.com </span
            >, para el ejercicio de sus derechos ARCO. A través de mecanismos
            administrativos, técnicos y físicos, como encriptación de datos o
            uso de contraseñas para acceder a información confidencial, entre
            otras,
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            protege y salvaguarda tus datos personales financieros y
            patrimoniales para evitar el daño, pérdida, destrucción, robo,
            extravío, alteración o tratamiento no autorizado de los mismos.
            Información personal La información personal solicitada al usuario
            está compuesta por los siguientes rubros: nombre(s), apellido(s),
            fecha de nacimiento, sexo, correo electrónico, teléfono fijo,
            teléfono celular, domicilio, estado, delegación o municipio, calle,
            número exterior e interior, país, ingreso mensual, información
            patrimonial, referencias personales, datos médicos y valor del
            inmueble sujeto a garantía hipotecaria. Tus datos personales serán
            tratados con base en los principios de licitud, consentimiento,
            información, calidad, finalidad, lealtad, proporcionalidad y
            responsabilidad de la Ley Federal de Protección de Datos Personales
            en Posesión de los Particulares.
          </p>

          <br />

          <p>
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            mantendrá la confidencialidad de tus datos personales estableciendo
            y manteniendo de forma efectiva, mediante medidas de seguridad
            administrativas, técnicas y físicas como encriptación de datos y uso
            de contraseñas, entre otras, para evitar su daño, pérdida,
            alteración, destrucción, uso, acceso o divulgación indebida. La
            información deberá ser veraz y completa. El usuario responderá en
            todo momento por los datos proporcionados y en ningún caso mini.mx
            será responsable de la veracidad de los mismos. Uso de los datos
            personales En caso de que aceptes los términos de este Aviso de
            Privacidad, tus datos personales serán usados para:
          </p>

          <br />

          <ul>
            <li>
              <p>
                Prestar el servicio de asesoría, comparación, simulación y
                cálculo de cotizaciones de productos financieros, de seguros y
                de inmuebles. Como parte de la prestación del servicio,
                <span class="text-secondary font-weight-bold"
                  >motorcity.mx</span
                >
                transferirá tus datos personales a instituciones bancarias o
                entidades financieras generales, aseguradoras, brokers
                hipotecarios y/o inmobiliarios, desarrolladores inmobiliarios y
                entidades de investigación crediticia, con la finalidad de
                aplicar a sus propios procesos de solicitud de cotización de
                productos financieros, de seguros y de inmuebles, para poder
                ofrecerte el producto que se considere adecuado a tus
                necesidades.
              </p>
            </li>

            <li>
              <p>
                El enlace con instituciones bancarias o entidades financieras
                generales, aseguradoras, brokers hipotecarios y/o inmobiliarios,
                desarrolladores inmobiliarios y entidades de investigación
                crediticia. De igual manera estos datos serán utilizados para:
              </p>
              <ul style="list-style-type: circle;">
                <li>
                  <p>Procurar un servicio eficiente.</p>
                </li>
                <li>
                  <p>
                    Informarte sobre cambios o nuevos servicios que estén
                    relacionados con el producto o servicio solicitado.
                  </p>
                </li>
                <li>
                  <p>
                    Dar cumplimiento a obligaciones contraídas con los usuarios.
                    Evaluar la calidad de nuestro servicio.
                  </p>
                </li>
              </ul>
            </li>
          </ul>

          <br />

          <h5 class="font-weight-bold">
            Evaluar la calidad de nuestro servicio
          </h5>

          <p>
            Consulta de datos personales Como parte de los términos y
            condiciones, el usuario autoriza por única ocasión a
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            (Multigenios SA de CV) y terceros a consultar sus antecedentes
            crediticios ante las Sociedades de Información Crediticia que estime
            conveniente, declarando que conoce la naturaleza, alcance y uso que
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            hará de tal información.
          </p>

          <br />

          <p>
            Entiéndase por terceros a cualquier banco y/o entidad financiera y/o
            aseguradora y/o cualquier compañía que preste cualquier tipo de
            servicio financiero.
          </p>

          <br />

          <p>
            Limitación de usos y divulgación de los datos personales En nuestro
            programa de notificación de promociones, boletín de noticias, blog,
            ofertas y servicios a través de correo electrónico, solo
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            tiene acceso a la información recabada. Este tipo de publicidad y
            comunicación se realiza mediante avisos y mensajes promocionales de
            correo electrónico, redes sociales y/o telefonía móvil, los cuales
            solo serán enviados a ti y a los contactos registrados para tal
            propósito. La suscripción a este servicio podrá modificarse en
            cualquier momento escribiendo a
            <span class="text-secondary font-weight-bold"
              >info@leadgenios.com</span
            >. En los correos electrónicos enviados pueden incluirse,
            ocasionalmente, ofertas de terceras partes que sean nuestros socios
            comerciales.
          </p>

          <br />

          <p>
            Qué son las cookies y cómo se utilizan Las cookies son pequeñas
            piezas de información que son enviadas por el sitio web a tu
            navegador y se almacenan en el disco duro de tu equipo. Se utilizan
            para determinar tus preferencias cuando te conectas a los servicios
            de nuestros sitios, así como para rastrear determinados
            comportamientos o actividades llevadas a cabo por ti dentro del
            portal. Existen secciones de la página web en las que requerimos que
            el usuario tenga habilitadas las cookies, ya que algunas de las
            funcionalidades del sitio web las necesitan para trabajar. Las
            cookies nos permiten:
          </p>

          <br />

          <ul style="list-style-type: lower-alpha;">
            <li>
              <p>
                Reconocerte al momento de entrar a nuestros sitios y ofrecerte
                una experiencia personalizada.
              </p>
            </li>

            <li>
              <p>
                Conocer la configuración personal del sitio especificada por ti;
                por ejemplo, las cookies nos permiten detectar el ancho de banda
                que has seleccionado al momento de ingresar a la página de
                inicio de nuestros sitios, así sabemos qué tipo de información
                es aconsejable descargar.
              </p>
            </li>

            <li>
              <p>
                Calcular el tamaño de nuestra audiencia y medir algunos
                parámetros de tráfico. Cada navegador que obtiene acceso a
                nuestros sitios adquiere una cookie que se usa para determinar
                la frecuencia de uso y las secciones de los sitios visitadas,
                reflejando así hábitos y preferencias, información que nos es
                útil para mejorar el contenido, los titulares y las promociones
                para los usuarios.
              </p>
            </li>
          </ul>

          <br />

          <p>
            Las cookies también nos ayudan a rastrear algunas actividades. Por
            ejemplo, en algunas de las encuestas que lanzamos en línea podemos
            utilizar cookies para detectar si el usuario ya ha llenado la
            encuesta y evitar desplegarla nuevamente. Las cookies te permitirán
            aprovechar los servicios que te ofrecemos, por lo que te
            recomendamos mantenerlas activadas.
          </p>

          <br />

          <p>
            Las cookies no serán utilizadas para identificar a los usuarios, con
            excepción de los casos en que se investiguen posibles actividades
            fraudulentas.
          </p>

          <br />

          <p>
            En el caso de que sea necesaria la utilización de cookies, el botón
            de “ayuda” que se encuentra en la barra de herramientas de la
            mayoría de los navegadores te dirá cómo aceptar nuevas cookies, cómo
            hacer que el navegador te notifique cuando recibes una nueva cookie
            o cómo deshabilitar todas las cookies.
          </p>

          <br />

          <p>
            Multigenios SA de CV, titular del portal
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            almacena automáticamente los datos del usuario, por ejemplo, cuando
            se registra en el portal o cuando contacta a la empresa ya sea
            personalmente o respondiendo a preguntas por correo, redes sociales,
            fax, a través del portal o por teléfono.
          </p>

          <br />

          <p>
            Derechos ARCO (Acceso, Rectificación, Cancelación y Oposición) En
            cumplimiento de lo dispuesto por los artículos 15, 16, 17, 18 y 19
            de la Ley Federal de Protección de Datos Personales en Posesión de
            Particulares, Fernández & Rubí., titular del portal
            <span class="text-secondary font-weight-bold">motorcity.mx</span> ha
            designado a un Oficial de Datos como encargado del Departamento de
            Servicios y Protección de Datos Personales. Para comunicarte con el
            Oficial de Datos escribe un correo electrónico a
            <span class="text-secondary font-weight-bold">
              info@leadgenios.com
            </span>
          </p>

          <br />

          <h5 class="font-weight-bold">
            Para ejercer derechos ARCO y revocar consentimiento otorgado
          </h5>

          <p>
            Como titular de sus datos personales, el usuario podrá ejercitar los
            derechos ARCO (Acceso, Rectificación, Cancelación y Oposición al
            tratamiento de sus datos personales), o bien, revocar el
            consentimiento que haya otorgado a
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            para el tratamiento de sus datos, enviando directamente su solicitud
            al Oficial de Datos, encargado del Departamento de Servicio y
            Protección de Datos Personales. Para ejercer sus derechos ARCO, el
            usuario deberá enviar un correo electrónico a
            <span class="text-secondary font-weight-bold"
              >info@leadgenios.com</span
            >
            .
          </p>

          <br />

          <p>
            Dicha solicitud deberá contener por lo menos: (a) nombre y domicilio
            u otro medio para comunicar la respuesta a tu solicitud; (b) los
            documentos que acrediten identidad o, en su caso, representación
            legal; (c) la descripción clara y precisa de los datos personales
            respecto de los que se solicita ejercer alguno de los derechos ARCO,
            (d) la manifestación expresa para revocar el consentimiento del
            tratamiento de tus datos personales y por tanto, darlos de baja para
            que no se usen; (d) cualquier otro elemento que facilite la
            localización de los datos personales.
          </p>

          <br />

          <p>
            La petición deberá ir acompañada de los fundamentos por los que se
            solicita dicha revocación y una identificación oficial del titular
            de los datos o de su apoderado. En un plazo máximo de 20 (veinte)
            días hábiles atenderemos la solicitud e informaremos sobre la
            procedencia de la misma a través del correo electrónico del que
            provenga la petición.
          </p>

          <br />

          <p>
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            solicita al usuario que actualice sus datos cada vez que éstos sean
            modificados, ya que esto permitirá brindarle un servicio eficiente y
            personalizado.
          </p>

          <br />

          <p>
            Transferencia de Información con Terceros Los datos solicitados son
            indispensables para que
            <span class="text-secondary font-weight-bold">motorcity.mx</span> te
            proporcione servicio, por lo que de no contar con los mismos, la
            sociedad se encuentra materialmente imposibilitada de cumplir el fin
            principal de la relación con sus usuarios. Como parte de la
            prestación del servicio,
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            transferirá tus datos personales a instituciones bancarias o
            entidades financieras generales, aseguradoras, brokers hipotecarios
            y/o inmobiliarios, desarrolladores inmobiliarios y entidades de
            investigación crediticia, con:
          </p>

          <br />

          <p>
            Compañías asociadas que tengan una relación comercial con
            <span class="text-secondary font-weight-bold">motorcity.mx</span>,
            así como sucursales de
            <span class="text-secondary font-weight-bold">motorcity.mx</span>.
          </p>

          <p>
            Instituciones bancarias o entidades financieras generales,
            aseguradoras, brokers hipotecarios y/o inmobiliarios,
            desarrolladores inmobiliarios y entidades de investigación
            crediticia. Terceros cuyos productos o servicios aparezcan en
            nuestro sitio web y otorguen un servicio/producto solicitado por el
            usuario. Estos terceros tienen un control parcial de estos datos. Es
            importante que leas sus avisos de privacidad o los contactes
            directamente para información adicional. Agencias de interferencia
            de fraudes para detectar fraudes y lavado de dinero, en caso de que
            información falsa o poco precisa haya sido otorgada.
          </p>

          <br />

          <h5 class="font-weight-bold">Protección</h5>

          <p>
            Multigenios SA de CV, titular del portal
            <span class="text-secondary font-weight-bold">motorcity.mx</span> ha
            adoptado medidas de seguridad administrativas, técnicas y físicas
            como encriptación de datos o uso de contraseñas para acceder a
            información confidencial, entre otras, que permiten proteger los
            datos personales que sus usuarios proporcionan contra daño, pérdida,
            alteración, destrucción o su uso, acceso y/o tratamiento no
            autorizado. Asimismo, nuestro personal está debidamente capacitado
            para tratar los datos personales en el mayor marco de
            confidencialidad, privacidad, secrecía y absoluto cumplimiento de la
            Ley Federal de Protección de Datos Personales en Posesión de
            Particulares. Queda expresamente señalado que el servicio de
            asesoría, comparación, simulación, cálculo y cotización de productos
            financieros y seguros que presta Multigenios SA de CV. a través de
            su portal,
            <span class="text-secondary font-weight-bold">motorcity.mx</span>,
            lo hace de forma estimada con base en la información publicada por
            las instituciones financieras y de seguros, por lo que se pueden
            presentar cambios sin previo aviso. Multigenios SA de CV no es
            responsable de cerciorarse o comprobar la veracidad de la
            información proporcionada por las diversas instituciones financieras
            y de seguros, así como por instituciones gubernamentales; tampoco es
            responsable de asegurarse del cumplimiento de estas últimas de los
            ofrecimientos presentados en sus cotizaciones. Los resultados que su
            comparador arroja son para fines meramente ilustrativos.
          </p>

          <br />

          <h5 class="font-weight-bold">Cambios en el aviso de privacidad</h5>

          <p>
            Nos reservamos el derecho de efectuar en cualquier momento
            modificaciones o actualizaciones al presente aviso de privacidad,
            para la atención de novedades legislativas o jurisprudenciales,
            políticas internas, nuevos requerimientos para la prestación u
            ofrecimiento de nuestros servicios o productos y prácticas del
            mercado. Las referidas modificaciones o actualizaciones serán
            publicadas y puestas a disposición del público a través del portal
            <span class="text-secondary font-weight-bold">motorcity.mx</span>,
            sección Aviso de privacidad.
          </p>

          <hr class="mt-60" />

          <div class="text-center">
            <a
              href="/registro"
              class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2"
            >
              <span>
                <span class="btn-txt">Quiero probar el servicio</span>
              </span>
            </a>
          </div>

        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
</main>
