<main id="content" class="content">
  <section class="vc-intro bg-dark fullheight d-flex align-items-center">
    <div class="lqd-particles-bg-wrap">
      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-1"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":150},"color":{"value":"#ccc"},"shape":{"type":["circle", "polygon"]},"opacity":{"value":0.75,"random":true,"anim":{"enable":true,"opacity_min":0.2,"speed":0,"sync":true}},"size":{"value":3,"random":true,"anim":{"enable":true,"size_min":50,"speed":0}},"move":{"enable":true,"direction":"none","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'
        ></div>
      </div>
    </div>

    <div class="container w-100 py-0 py-md-5" ng-app="app">
      <div
        class="row justify-content-center text-white"
        ng-controller="registry as vm"
        ng-cloak
      >
        <div class="col-sm-12 col-sm-offset-6 py-0 py-md-5" ng-if="loading">
          <div class="lds-ripple">
            <div></div>
            <div></div>
          </div>
        </div>

        <div class="col-sm-6 col-sm-offset-3 py-0 py-md-5" ng-if="!loading">
          <h3 class="text-white">1. Datos generales</h3>
          <div class="row">
            <div class="col-sm-12 mb-2">
              <label>Nombre</label>
              <input
                type="text"
                name="name"
                class="form-control"
                ng-model="body.name"
                ng-pattern="nameRegex"
                placeholder="Ingresa tu(s) nombre(s)"
                required
              />
              <small class="text-warning" ng-if="body.name === undefined || (!body.name && !valid)">
                No es un nombre válido.
              </small>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 mb-2">
              <label>Apellido Paterno</label>
              <input
                type="text"
                name="paternalSurname"
                class="form-control"
                ng-model="body.paternalSurname"
                ng-pattern="nameRegex"
                placeholder="Ingresa tu apellido paterno"
                required
              />
              <small
                class="text-warning"
                ng-if="body.paternalSurname === undefined || (!body.paternalSurname && !valid)"
              >
                No es un apellido válido.
              </small>
            </div>
            <div class="col-sm-6 mb-2">
              <label>Apellido Materno</label>
              <input
                type="text"
                name="maternalSurname"
                class="form-control"
                ng-model="body.maternalSurname"
                ng-pattern="nameRegex"
                placeholder="Ingresa tu apellido materno"
                required
              />
              <small
                class="text-warning"
                ng-if="body.maternalSurname === undefined || (!body.maternalSurname && !valid)"
              >
                No es un apellido válido.
              </small>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 mb-2">
              <label>Teléfono</label>
              <input
                type="tel"
                name="phone"
                class="form-control"
                ng-model="body.phone"
                ng-pattern="onlyNumbers"
                limit-to="10"
                ng-maxlength="10"
                ng-minlength="10"
                placeholder="Ingresa tú numero a 10 dígitos"
                required
              />
              <small
                class="form-text text-warning"
                ng-if="body.phone === undefined || (!body.phone && !valid)"
              >
                El teléfono debe contener 10 dígitos.
              </small>
            </div>
            <div class="col-sm-6 mb-2">
              <label>Correo electrónico</label>
              <input
                type="email"
                name="email"
                class="form-control"
                ng-model="body.email"
                ng-pattern="emailRegex"
                placeholder="Ingresa tu correo electrónico"
                required
              />
              <small
                class="form-text text-warning"
                ng-if="body.email === undefined || (!body.email && !valid)"
              >
                No es un correo válido.
              </small>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-sm-12">
              <label>¿Cuál es tu género?</label>
              <select
                name="gender"
                class="form-control"
                ng-model="body.genderId"
                ng-options="gender.id as gender.description for gender in genders"
                required
              >
                <option value="" disabled>Selecciona una opción</option>
              </select>
              <small class="text-warning" ng-if="body.genderId === undefined || (!body.genderId && !valid)">
                No es un género válido.
              </small>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-sm-12">
              <label>¿Cuántos años tienes?</label>
              <select
                name="age"
                class="form-control"
                ng-model="body.ageId"
                ng-options="age.id as age.description for age in ages"
                required
              >
                <option value="" disabled>Selecciona una opción</option>
              </select>
              <small class="text-warning" ng-if="body.ageId === undefined || (!body.ageId && !valid)">
                No es una edad válida.
              </small>
            </div>
          </div>
          <hr />
          <div class="row justify-content-center">
            <div class="col-sm-12">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="1"
                  name="terms"
                  ng-model="body.terms"
                  required
                />
                <label class="form-check-label ml-2 mr-3" for="1">
                  Acepto los
                  <a
                    class="text-primary"
                    href="/terminos-y-condiciones"
                    target="_blank"
                  >
                    términos y condiciones
                  </a>
                  del servicio
                </label>
                <small class="text-warning" ng-if="body.terms === undefined || (!body.terms && !valid)">
                  Debes aceptar los términos y condiciones para continuar.
                </small>
              </div>
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="2"
                  name="privacy"
                  ng-model="body.privacy"
                  required
                />
                <label class="form-check-label ml-2 mr-3" for="2">
                  Acepto el
                  <a
                    class="text-primary"
                    href="/aviso-de-privacidad"
                    target="_blank"
                  >
                    aviso de privacidad
                  </a>
                </label>
                <small class="text-warning" ng-if="body.privacy === undefined || (!body.privacy && !valid)">
                  Debes aceptar el aviso de privacidad para continuar.
                </small>
              </div>
            </div>
          </div>
          <p class="text-right my-4" ng-click="lead();">
            <a
              class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2"
            >
              <span>
                <span class="btn-txt">Siguiente</span>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/vendors/angular/angular.js"></script>
  <script src="/js/controllers/registry.js?id=3"></script>
</main>
