<main id="content" class="content">
  <section class="vc-intro bg-dark fullheight d-flex align-items-center">
    <div class="lqd-particles-bg-wrap">
      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-1"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":150},"color":{"value":"#ccc"},"shape":{"type":["circle", "polygon"]},"opacity":{"value":0.75,"random":true,"anim":{"enable":true,"opacity_min":0.2,"speed":0,"sync":true}},"size":{"value":3,"random":true,"anim":{"enable":true,"size_min":50,"speed":0}},"move":{"enable":true,"direction":"none","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'
        ></div>
        <!-- /.lqd-particles-inner -->
      </div>
      <!-- /.ld-particles-container -->
    </div>
    <!-- /.lqd-particles-bg-wrap -->

    <div class="container" ng-app="app">
      <div class="row" ng-controller="results" ng-cloak>
        <div class="col-sm-12 col-sm-offset-6 py-0 py-md-5" ng-if="loading">
          <div class="lds-ripple">
            <div></div>
            <div></div>
          </div>
        </div>

        <div class="row" ng-if="!loading && topVehicles.length">
          <div class="lqd-column col-md-8 col-md-offset-2">
            <header class="fancy-title mb-50 text-center mt-9">
              <h2 class="text-white">
                Estas son la mejores opciones de acuerdo a tu perfil.
              </h2>
            </header>
            <!-- /.fancy-title text-center -->
          </div>
          <!-- /.col-md-6 col-md-offset-3 -->
        </div>
        <!-- /.row -->

        <div class="row" ng-if="!loading && !topVehicles.length">
          <div class="lqd-column col-md-8 col-md-offset-2">
            <header class="fancy-title mb-50 text-center mt-9">
              <h2 class="text-white">
                No encontramos un vehículo que se acomode a tus preferencias.
              </h2>
            </header>
            <!-- /.fancy-title text-center -->

            <div class="pricing-table-footer text-center">
              <a
                class="btn btn-md btn-default  btn-solid round lh-15 px-2 btn-light"
                href=".."
              >
                <span>
                  <span class="btn-txt">Volver a intentar</span>
                </span>
              </a>
            </div>
          </div>
          <!-- /.col-md-6 col-md-offset-3 -->
        </div>
        <!-- /.row -->

        <div class="row" ng-if="!loading">
          <div
            class="lqd-column col-md-4"
            ng-repeat="vehicle in topVehicles track by $index"
          >
            <div class="pricing-table pricing-table-minimal">
              <div class="pricing-table-body mt-0">
                <div class="mb-3 center-container" style="min-height:165px;">
                  <img
                    ng-src="{{ vehicle.pictures[0].location }}"
                    alt="{{ vehicle.model }}"
                  />
                </div>

                <ul>
                  <li>
                    <strong style="font-size:18px;">{{ vehicle.model }}</strong>
                  </li>
                  <li style="min-height:165px;">{{ vehicle.description }}</li>
                </ul>
              </div>
              <!-- /.pricing-table-body -->

              <div class="pricing-table-footer" ng-click="like(vehicle);">
                <div ng-if="vehicle.vehicleCompanies[0].vehicleTypeId != 2">
                  <a
                    class="btn btn-md btn-default  btn-solid round lh-15 px-2 btn-light"
                  >
                    <span class="btn-txt">
                      Me interesa
                    </span>
                  </a>
                </div>
                <div ng-if="vehicle.vehicleCompanies[0].vehicleTypeId == 2">
                  <a
                    class="btn btn-md btn-default  btn-solid round lh-15 px-2 btn-light"
                    href="https://seminuevosmaster.mx/"
                    target="_blank"
                  >
                    <span class="btn-txt">
                      Checar disponibilidad
                    </span>
                  </a>
                </div>
              </div>
              <!-- /.pricing-table-footer -->
            </div>
            <!-- /.pricing-table -->
          </div>
          <!-- /.col-md-4 -->

          <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseItem" role="button" aria-expanded="false" aria-controls="collapseItem">
            Link with href
          </a> -->
          <div class="collapse" id="collapseItem">
            <div
              class="lqd-column col-md-4"
              ng-repeat="vehicle in allVehicles track by $index"
            >
              <div class="pricing-table pricing-table-minimal">
                <div class="pricing-table-body mt-0">
                  <div class="mb-3 center-container" style="min-height:165px;">
                    <img
                      ng-src="{{ vehicle.pictures[0].location }}"
                      alt="{{ vehicle.model }}"
                    />
                  </div>

                  <ul>
                    <li>
                      <strong style="font-size:18px;">{{
                        vehicle.model
                      }}</strong>
                    </li>
                    <li style="min-height:165px;">{{ vehicle.description }}</li>
                  </ul>
                </div>
                <!-- /.pricing-table-body -->

                <div class="pricing-table-footer" ng-click="like(vehicle);">
                  <div ng-if="vehicle.vehicleCompanies[0].vehicleTypeId != 2">
                  <a
                    class="btn btn-md btn-default  btn-solid round lh-15 px-2 btn-light"
                  >
                    <span class="btn-txt">
                      Me interesa
                    </span>
                  </a>
                </div>
                <div ng-if="vehicle.vehicleCompanies[0].vehicleTypeId == 2">
                  <a
                    class="btn btn-md btn-default  btn-solid round lh-15 px-2 btn-light"
                    href="https://seminuevosmaster.mx/"
                    target="_blank"
                  >
                    <span class="btn-txt">
                      Checar disponibilidad
                    </span>
                  </a>
                </div>
                </div>
                <!-- /.pricing-table-footer -->
              </div>
              <!-- /.pricing-table -->
            </div>
          </div>

          <div
            class="pricing-table-footer text-center"
            ng-show="allVehicles.length"
            ng-click="active=!active"
          >
            <a
              class="btn btn-md btn-default  btn-solid round lh-15 px-2 btn-light my-5"
              data-toggle="collapse"
              href="#collapseItem"
              aria-expanded="false"
              aria-controls="collapseItem"
              ng-model="active"
            >
              <span>
                <span class="btn-txt" ng-show="!active">Mostrar más</span>
                <span class="btn-txt" ng-show="active">Mostrar menos</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <script src="/js/vendors/angular/angular.js"></script>
  <script src="/js/controllers/results.js"></script>
</main>
