<main id="content" class="content">
  <section class="vc-intro bg-dark fullheight d-flex align-items-center">
    <div class="lqd-particles-bg-wrap">
      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-1"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":150},"color":{"value":"#ccc"},"shape":{"type":["circle", "polygon"]},"opacity":{"value":0.75,"random":true,"anim":{"enable":true,"opacity_min":0.2,"speed":0,"sync":true}},"size":{"value":3,"random":true,"anim":{"enable":true,"size_min":50,"speed":0}},"move":{"enable":true,"direction":"none","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'
        ></div>
      </div>
    </div>

    <div class="container w-100 py-0 py-md-5" ng-app="app">
      <div class="row justify-content-center" ng-controller="score" ng-cloak>
        <div class="col-sm-12 col-sm-offset-6 py-0 py-md-5" ng-if="loading">
          <div class="lds-ripple">
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 py-0 py-md-5" ng-if="!loading">
          <h3 class="text-white text-question mb-0">
            {{ step }}. {{ question[0].question }}
          </h3>
          <p class="text-white">
            Selecciona una opción, y haz clic en
            <span class="text-primary">Siguiente</span>
          </p>
          <div class="row">
            <div
              class="col-sm-6"
              ng-repeat="answer in question[0].scoreAnswers"
            >
              <div class="inputGroup">
                <input
                  ng-attr-id="{{ 'radio-' + answer.id }}"
                  name="radio"
                  type="radio"
                  ng-model="score.answer"
                  value="{{ answer.id }}"
                />
                <label ng-attr-for="{{ 'radio-' + answer.id }}">{{
                  answer.answer
                }}</label>
              </div>
            </div>
          </div>

          <p class="text-right my-4" ng-click="answer()">
            <a
              class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2"
            >
              <span>
                <span class="btn-txt">Siguiente</span>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/vendors/angular/angular.js"></script>
  <script src="/js/controllers/score.js"></script>
</main>
