<main id="content" class="content">
  <section class="vc-intro bg-dark fullheight d-flex align-items-center">
    <div class="lqd-particles-bg-wrap">
      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-1"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":150},"color":{"value":"#ccc"},"shape":{"type":["circle", "polygon"]},"opacity":{"value":0.75,"random":true,"anim":{"enable":true,"opacity_min":0.2,"speed":0,"sync":true}},"size":{"value":3,"random":true,"anim":{"enable":true,"size_min":50,"speed":0}},"move":{"enable":true,"direction":"none","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'
        ></div>
      </div>
    </div>

    <div class="container w-100 py-0 py-md-5" ng-app="app">
      <div
        class="row justify-content-center"
        ng-controller="step2 as vm"
        ng-cloak
      >
        <div class="col-sm-12 col-sm-offset-6 py-0 py-md-5" ng-if="!loading">
          <div class="lds-ripple">
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 py-0 py-md-5" ng-if="loading">
          <h3 class="text-white text-question mb-0">
            3. Estilo de Auto
          </h3>
          <p class="text-white">
            Contesta el cuestionario y haz clic en
            <span class="text-primary">Siguiente</span>
          </p>
          <div class="row mb-4">
            <label class="col-sm-12 text-white">
              ¿Qué tipo de uso le darás a tu auto nuevo? Selecciona todas las
              opciones necesarias
            </label>
            <div class="col-sm-12 col-lg-6" ng-repeat="el in vehiclePurpose">
              <div class="inputGroup">
                <input
                  ng-attr-id="{{ 'checkbox-' + el.id }}"
                  name="vehiclePurpose"
                  type="checkbox"
                  ng-model="active"
                  ng-change="handleOnChange({{ el.id }},active);"
                />
                <label ng-attr-for="{{ 'checkbox-' + el.id }}">
                  {{ el.description }}
                </label>
              </div>
            </div>
            <small class="col-sm-12 text-warning" ng-if="!purposes.length">
              Selecciona al menos una opción.
            </small>
          </div>

          <div class="row">
            <div class="col-sm-12 text-white">
              <label>
                ¿Qué tamaño de auto estás buscando?
              </label>
              <select
                name="vehicleSize"
                class="form-control"
                ng-model="body.vehicleSizeId"
                ng-options="el.id as el.description for el in vehicleSize"
                required
              >
                <option value="" disabled>Selecciona una opción</option>
              </select>
              <small
                class="text-warning"
                ng-if="body.vehicleSizeId === undefined"
              >
                No es una opción válida.
              </small>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <p class="text-left my-4">
                <a
                  href="/cuestionario-1"
                  class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2"
                >
                  <span>
                    <span class="btn-txt">Atras</span>
                  </span>
                </a>
              </p>
            </div>

            <div class="col-sm-6 col-xs-6">
              <p class="text-right my-4" ng-click="handleSubmit();">
                <a
                  class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2"
                >
                  <span>
                    <span class="btn-txt">Siguiente</span>
                  </span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/vendors/angular/angular.js"></script>
  <script src="/js/controllers/steps.js"></script>
</main>
