<main id="content" class="content">
  <section class="vc-intro bg-dark fullheight d-flex align-items-center">
    <div class="lqd-particles-bg-wrap">
      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-1"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":150},"color":{"value":"#ccc"},"shape":{"type":["circle", "polygon"]},"opacity":{"value":0.75,"random":true,"anim":{"enable":true,"opacity_min":0.2,"speed":0,"sync":true}},"size":{"value":3,"random":true,"anim":{"enable":true,"size_min":50,"speed":0}},"move":{"enable":true,"direction":"none","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'
        ></div>
      </div>
    </div>

    <div class="container w-100 py-0 py-md-5" ng-app="app">
      <div
        class="row justify-content-center"
        ng-controller="step1 as vm"
        ng-cloak
      >
        <div class="col-sm-12 col-sm-offset-6 py-0 py-md-5" ng-if="!loading">
          <div class="lds-ripple">
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 py-0 py-md-5" ng-if="loading">
          <h3 class="text-white text-question mb-0">
            2. Información Financiera
          </h3>
          <p class="text-white">
            Contesta el cuestionario y haz clic en
            <span class="text-primary">Siguiente</span>
          </p>
          <div class="row mb-4">
            <div class="col-sm-12 text-white">
              <label>
                ¿Cuánto te gustaría dar de enganche para tu nuevo auto?
              </label>
              <select
                name="vehicleHitch"
                class="form-control"
                ng-model="body.vehicleHitchId"
                ng-options="el.id as el.description for el in vehicleHitch"
                required
              >
                <option value="" disabled>Selecciona una opción</option>
              </select>
              <small
                class="text-warning"
                ng-if="body.vehicleHitchId === undefined"
              >
                No es una opción válida.
              </small>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12 text-white">
              <label>
                ¿Cuál es tu presupuesto para tu nuevo auto?
              </label>
              <select
                name="vehicleMaxPrice"
                class="form-control"
                ng-model="body.vehicleMaxPriceId"
                ng-options="el.id as el.description for el in vehicleMaxPrice"
                required
              >
                <option value="" disabled>Selecciona una opción</option>
              </select>
              <small
                class="text-warning"
                ng-if="body.vehicleMaxPriceId === undefined"
              >
                No es una opción válida.
              </small>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12 text-white">
              <label>
                ¿Cuál es la mensualidad que te gustaría pagar por tu nuevo auto?
              </label>
              <select
                name="monthlyPayment"
                class="form-control"
                ng-model="body.monthlyPaymentId"
                ng-options="el.id as el.description for el in monthlyPayment"
                required
              >
                <option value="" disabled>Selecciona una opción</option>
              </select>
              <small
                class="text-warning"
                ng-if="body.monthlyPaymentId === undefined"
              >
                No es una opción válida.
              </small>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12 text-white">
              <label>¿En qué estado vives?</label>
              <select
                name="age"
                class="form-control"
                ng-model="body.stateId"
                ng-options="state.id as state.name for state in states"
                required
              >
                <option value="" disabled>Selecciona una opción</option>
              </select>
              <small class="text-warning" ng-if="body.stateId === undefined">
                No es un estado válido.
              </small>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-white">
              <label>¿Cuál es tu estatus laboral actualmente?</label>
              <select
                name="profession"
                class="form-control"
                ng-model="body.professionId"
                ng-options="profession.id as profession.description for profession in professions"
                required
              >
                <option value="" disabled>Selecciona una opción</option>
              </select>

              <small
                class="text-warning"
                ng-if="body.professionId === undefined"
              >
                No es un estatus laboral válido.
              </small>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <p class="text-left my-4">
                <a
                  href="/registro"
                  class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2"
                >
                  <span>
                    <span class="btn-txt">Atras</span>
                  </span>
                </a>
              </p>
            </div>

            <div class="col-sm-6 col-xs-6">
              <p class="text-right my-4" ng-click="handleSubmit();">
                <a
                  class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2"
                >
                  <span>
                    <span class="btn-txt">Siguiente</span>
                  </span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/vendors/angular/angular.js"></script>
  <script src="/js/controllers/steps.js?id=2"></script>
</main>
