<main id="content" class="content">
  <section class="vc-intro bg-dark fullheight d-flex align-items-center">
    <div class="lqd-particles-bg-wrap">
      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-1"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":150},"color":{"value":"#ccc"},"shape":{"type":["circle", "polygon"]},"opacity":{"value":0.75,"random":true,"anim":{"enable":true,"opacity_min":0.2,"speed":0,"sync":true}},"size":{"value":3,"random":true,"anim":{"enable":true,"size_min":50,"speed":0}},"move":{"enable":true,"direction":"none","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'
        ></div>
      </div>
    </div>

    <div id="container" class="container w-100 py-0 py-md-5" ng-app="app">
      <div
        class="row justify-content-center"
        ng-controller="results as vm"
        ng-cloak
      >
        <div class="col-sm-12 col-sm-offset-6 py-0 py-md-5" ng-if="loading">
          <div class="lds-ripple">
            <div></div>
            <div></div>
          </div>
        </div>

        <div class="row" ng-if="!loading && foundVehicles">
          <div class="lqd-column col-md-8 col-md-offset-2">
            <header class="fancy-title mb-4 text-center mt-6">
              <h3 class="text-white">
                Estas son la mejores opciones de acuerdo a tu perfil.
              </h3>
            </header>
          </div>
        </div>

        <div class="row" ng-if="!loading && !foundVehicles">
          <div class="lqd-column col-md-8 col-md-offset-2">
            <header class="fancy-title mb-50 text-center mt-9">
              <h3 class="text-white">
                !Ooops! Tienes un perfil muy exigente, y no hemos encontrado el auto perfecto para ti.
              </h3>
              <h4 class="text-white">
                Te dejamos algunas opciones que podrían interesarte:
              </h4>
            </header>
          </div>
        </div>

        <div class="mx-4 py-0 py-md-5" ng-if="!loading">
          <div class="col-md-4" ng-repeat="vehicle in vehicles">
            <div class="pricing-table pricing-table-minimal">
              <div class="pricing-table-body mt-0">
                <div class="mb-6 center-container" style="min-height: 165px;">
                  <img
                    ng-src="{{ vehicle.pictures[0].location }}"
                    alt="{{ vehicle.model }}"
                  />
                </div>

                <div class="mb-4">
                  <strong style="font-size: 20px;">
                    {{ vehicle.model }}
                  </strong>
                </div>
              </div>

              <div class="mb-4">
                <ul class="text-left px-3">
                  <li ng-repeat="desc in vehicle.description">
                    {{ desc }}
                  </li>
                </ul>
              </div>

              <div class="pricing-table-footer">
                <a
                  class="btn btn-md btn-default btn-solid round lh-15 px-2 btn-light"
                  href="{{ vehicle.vehicleUrls[0].url }}"
                  target="_blank"
                >
                  <span class="btn-txt">
                    Me interesa
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/vendors/angular/angular.js"></script>
  <script src="/js/controllers/steps.js?id=5"></script>
</main>
