<div
  class="titlebar titlebar-sm scheme-light text-center"
  style="background-image: url(../../images/faq.jpg); background-size: cover;"
>
  <div class="titlebar-inner">
    <div class="container titlebar-container">
      <div class="row titlebar-container">
        <div
          class="titlebar-col col-md-12"
          data-custom-animations="true"
          data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":26,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
        >
          <h1
            class="h2 mt-0 mb-4 mb-2 lh-1 text-white"
            data-fittext="true"
            data-fittext-options='{ "compressor":0.5,"maxFontSize": 70,"minFontSize": 32 }'
            data-split-text="true"
            data-split-options='{"type":"words"}'
          >
            Términos y Condiciones
          </h1>
          <a
            class="titlebar-scroll-link"
            href="#content"
            data-localscroll="true"
            ><i class="fa fa-angle-down"></i
          ></a>
        </div>
        <!-- /.titlebar-col -->
      </div>
      <!-- /.titlebar-row -->
    </div>
    <!-- /.titlebar-container -->
  </div>
  <!-- /.titlebar-inner -->
</div>
<!-- /.titlebar -->

<main id="content" class="content">
  <section class="vc_row pb-50">
    <div class="container">
      <div class="row">
        <div class="lqd-column col-md-8 col-md-offset-2">
          <h4 class="font-weight-bold">FECHA DE EMISIÓN: 08/2020</h4>
          <p>
            Para el uso de
            <span class="text-secondary font-weight-bold">motorcity.mx</span> -
            mediante la navegación a través de esta página web, usted acepta los
            términos y condiciones generales (los "Términos y Condiciones
            Generales") aplicables al uso de nuestra página web. Nos reservamos
            el derecho, a nuestra sola discreción, de cambiar, modificar o
            alterar de cualquier modo los términos y condiciones y la política
            de privacidad que aparecen en esta página en cualquier momento, por
            cualquier razón. Cualquier cambio, modificación o alteración se hará
            mediante aviso en la página, pero no se le avisará a usted
            directamente. El usuario debe leer, entender y aceptar todas las
            condiciones establecidas en los Términos y Condiciones Generales y
            en el Aviso de Privacidad, así como cualquier otro documento, previo
            a su inscripción como usuario de
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
          </p>

          <br />

          <h5 class="font-weight-bold">Nuestros Servicios</h5>

          <p>
            <span class="text-secondary font-weight-bold">motorcity.mx</span> no
            vende automóviles, es un servicio gratuito que empareja a los
            consumidores con los vendedores de autos participantes en nuestra
            red directa de
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            (“vendedores participantes“). Para utilizar este servicio, debe
            completar una o más solicitudes en línea que le solicitarán
            información específica sobre usted, incluyendo, aunque no está
            limitado a, su nombre, dirección, número de teléfono, dirección de
            correo electrónico, información de ingresos y modo de vida e
            información de empleo. La recopilación y uso de esta información
            está sujeto a la política de privacidad de esta página. Para poder
            utilizar esta página web o el servicio, debe aceptar los diferentes
            términos y condiciones establecidos en la política de privacidad que
            se incorporan aquí por referencia.
          </p>

          <br />

          <p>
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            proporciona una conexión entre las personas que buscan préstamos de
            pago a corto plazo y los distintos proveedores en México que venden
            automóviles nuevos y/o usados.
          </p>

          <br />

          <p>
            Una vez el consumidor envíe el formulario (s) de solicitud a
            <span class="text-secondary font-weight-bold">motorcity.mx</span>,
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            enviará su información a uno o varios vendedores participantes . Al
            enviar el formulario (s) de solicitud, usted entiende y acepta que
            está enviando una consulta sobre un producto automóviles a
            <span class="text-secondary font-weight-bold">motorcity.mx</span> y
            a cada uno de los vendedores participantes a quienes
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            transmite su solicitud de préstamo. Al enviar el formulario ( s ) de
            solicitud, está enviando una invitación expresa a
            <span class="text-secondary font-weight-bold">motorcity.mx</span> y
            a cada uno de los vendedores participantes que compartirán su
            información con usted por cualquier medio (incluyendo correo
            electrónico, teléfono y correo directo) para que le puedan ayudar
            con su transacción o proporcionar información acerca de ofertas
            adicionales en las que pueda estar interesado. Si no desea recibir
            mensajes de correo electrónico puede solicitar ser eliminado de la
            lista de correo mediante el mecanismo de opt-out que aparece en los
            mensajes de correo electrónico recibidos. Para darse de baja de
            promociones enviadas por correo electrónico desde
            <span class="text-secondary font-weight-bold">motorcity.mx</span>,
            envíe una solicitud física a Multigenios SA de CV: Uxmal 1, Col.
            Lomas de Atzingo, Cuernavaca, Morelos, México, 62180
          </p>

          <br />

          <p>
            Los vendedores participantes que reciben información de su solicitud
            revisan su información en tiempo real para determinar si la
            información proporcionada, cumple con los criterios para adquirir un
            auto. Los vendedores participantes podrán , entre otras cosas,
            verificar su identidad y revisar su información en bases de datos
            nacionales (como Experian, Llamada de crédito y otros) que rastrea
            las transacciones de consumo con las instituciones de crédito. Al
            enviar el formulario (s) de solicitud, usted está de acuerdo en
            permitir que los vendedores participantes revisen, verifiquen e
            investiguen dicha información.
          </p>

          <br />

          <p>
            Si un vendedor participante determina que su solicitud cumple con
            sus criterios de calificación de para obtener un auto, la página web
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            abrirá una nueva página web que identifica el nombre (s) y la
            información del vendedor (s) de contacto, o redirigirá el navegador
            a la página web de los vendedores. Usted entiende y acepta que, una
            vez haya sido redirigido a la página web de la entidad vendedora,
            <span class="text-secondary font-weight-bold">motorcity.mx</span> no
            tiene más participación en la solicitud de compra de auto. Sus
            interacciones subsecuentes con el prestamista están sujetas a la
            política de privacidad, condiciones de uso, y otras políticas y / o
            términos impuestos por ese prestamista.
          </p>

          <br />

          <p>
            <span class="text-secondary font-weight-bold">motorcity.mx</span> no
            es un vendedor de autos, no acredita personas ni toma decisiones de
            crédito en relación con su servicio de búsqueda de automovil.
            <span class="text-secondary font-weight-bold">motorcity.mx</span> no
            garantiza la validacion de un precio en particular de un auto ni
            establece las condiciones de lla compra especifica con cualquier
            prestamista participante.
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            tampoco garantiza que el precio, los productos, disponibilidad,
            tarifas, tasas u otros términos de otros autos ofrecidos y puestos a
            disposición por los vendedores participantes, sean las mejores
            condiciones disponibles en el mercado.
          </p>

          <br />

          <p>
            <span class="text-secondary font-weight-bold">motorcity.mx</span> no
            avala ni recomienda los productos de cualquier vendedor particular.
            <span class="text-secondary font-weight-bold">motorcity.mx</span> es
            un agente suyo o de cualquier vendedor participante.
            <span class="text-secondary font-weight-bold">motorcity.mx</span> no
            está involucrado con el uso de la entidad crediticia y / o revisión
            de la información de su solicitud para tomar una determinación
            acerca de si usted cumple o no con los criterios de calificación del
            para comprar el auto , de un vendedor particular. El vendedor es el
            único responsable de sus servicios hacia usted y usted acepta que
            <span class="text-secondary font-weight-bold">motorcity.mx</span> no
            será responsable de los daños o gastos de cualquier tipo que surjan
            relacionados de alguna manera mediante su uso del servicio de
            búsqueda de auto. Entiende que los vendedores participantes podrán
            mantener la información de su solicitud, tanto si está como si no
            está calificado para una compra de automovil con ellos.
          </p>

          <br />

          <h5 class="font-weight-bold">Derechos de Autor</h5>

          <p>
            El contenido, organización, gráficos, diseño, compilación,
            traducción magnética, conversión digital y otros asuntos
            relacionados con la página están protegidos por derechos de autor,
            marcas registradas y otros derechos de propiedad (incluyendo la
            propiedad intelectual, aunque no es el único). La copia,
            redistribución, uso o publicación por su parte de tales asuntos o
            cualquier parte de la página web, excepto lo permitido por "Derecho
            de uso limitado" a continuación, está estrictamente prohibido. Usted
            no adquiere derechos de propiedad sobre cualquier contenido,
            documento u otros materiales vistos a través de la página. La
            publicación por
            <span class="text-secondary font-weight-bold">motorcity.mx</span> de
            información o materiales en la página no constituye una renuncia a
            cualquier derecho sobre dicha información y materiales.
          </p>

          <br />

          <h6 class="font-weight-bold">
            Derecho de autor y marca de servicio de información:
          </h6>

          <p>
            Derechos de autor © Multigenios SA de CV 2019, todos los derechos
            reservados. “motorcity.mx” y los logotipos asociados son marcas de
            servicio de
            <span class="text-secondary font-weight-bold">motorcity.mx</span> y
            están protegidos en Estados Unidos, Reino Unido, España y México.
            Todas las demás marcas son propiedad de sus respectivos dueños.
          </p>

          <br />

          <h6 class="font-weight-bold">Derecho de uso limitado:</h6>

          <p>
            La visualización, impresión o descarga de cualquier contenido,
            video, audio, gráfico, formulario o documento desde la página le
            concede solamente una licencia no exclusiva y revocable para el uso
            exclusivamente personal y no comercial, según sea necesario para ver
            y escuchar el contenido y navegar a través de las páginas y enlaces
            disponibles en general al público mediante un navegador estándar de
            Internet y reproductor multimedia estándar, y no para la re
            publicación, distribución, cesión, sub-licencia, venta, preparación
            de trabajos derivados o cualquier otro uso. Ninguna parte de
            cualquier contenido, gráfico, formulario o documento puede ser
            reproducida en cualquier forma ni se puede incorporar en cualquier
            sistema de recuperación de información, ya sea electrónico o
            mecánico, que no sea para su uso personal y no comercial (pero no
            para la reventa o redistribución).
          </p>

          <br />

          <h6 class="font-weight-bold">Edición, eliminación y modificación:</h6>

          <p>
            Nos reservamos el derecho a nuestra discreción, de cambiar,
            modificar o eliminar cualquier documento, información u otro
            contenido que aparezca en la página.
          </p>

          <br />

          <h6 class="font-weight-bold">Indemnización:</h6>

          <p>
            Usted acepta eximir a
            <span class="text-secondary font-weight-bold">motorcity.mx</span> y
            sus respectivos directores, funcionarios, accionistas, empleados,
            agentes, abogados, anunciantes y editores (en conjunto, "Nuestras
            Partes Afiliadas") de cualquier responsabilidad, pérdida,
            reclamación o gastos, incluyendo los honorarios razonables de
            abogados, relacionados con su uso de la página o violación de este
            Acuerdo
          </p>

          <br />

          <h6 class="font-weight-bold">Derecho Intransferible:</h6>

          <p>
            Su derecho a utilizar la página no es transferible. Cualquier
            contraseña o derecho otorgado a usted para obtener información o
            documentos desde la página no es transferible.
          </p>

          <br />

          <h6 class="font-weight-bold">
            RENUNCIA DE GARANTÍA Y LIMITACIÓN DE RESPONSABILIDAD:
          </h6>

          <p>
            LOS PROGRAMAS INFORMÁTICOS, INFORMACIÓN Y DEMÁS CONTENIDOS
            DISPONIBLES A TRAVÉS DE LA PÁGINA SE PROPORCIONAN "TAL CUAL", "SEGÚN
            DISPONIBILIDAD", Y TODAS LAS GARANTÍAS, EXPRESAS O IMPLÍCITAS, SON
            RECHAZADAS. EN LA MEDIDA DE LO PERMITIDO POR LA LEY APLICABLE,
            <span class="text-secondary font-weight-bold">MOTORCITY.MX</span>
            RECHAZA TODA GARANTÍA EXPRESA O IMPLÍCITA, INCLUYENDO, PERO NO
            LIMITÁNDOSE A, (A) QUE NINGÚN PROGRAMA INFORMÁTICO O LA INFORMACIÓN
            DISPONIBLE EN, O A TRAVÉS DE ESTA PÁGINA, O LA PÁGINA MISMA SEA
            COMERCIAL O ADECUADO PARA UN PROPÓSITO PARTICULAR, (B ) QUE LOS
            PROGRAMAS O INFORMACIÓN DISPONIBLE EN, O A TRAVÉS DE ESTE SITIO, O
            EL SITIO MISMO SERÁ ININTERRUMPIDO O SE VERÁ LIBRE DE ERRORES , (C)
            QUE LOS DEFECTOS SERÁN CORREGIDOS, (D ) QUE NO EXISTEN VIRUS U OTROS
            COMPONENTES NOCIVOS INFORMÁTICOS , ( E) QUE LOS MÉTODOS DE SEGURIDAD
            EMPLEADOS SERÁN SUFICIENTES, (F) EN RELACIÓN CON CORRECCIÓN,
            PRECISIÓN O CONFIABILIDAD O (G) PERJUICIO DEL USO Y DISFRUTE DE LOS
            PROGRAMAS O DATOS INFORMÁTICOS, O CONTRA INFRACCIÓN. SE OFRECE TODA
            INFORMACIÓN Y PROGRAMAS INFORMÁTICOS PRESTADOS EN EL CURSO DE ESTE
            ACUERDO CON TODOS SUS DEFECTOS, Y EL RIESGO EN CUANTO A LA CALIDAD,
            RENDIMIENTO, PRECISIÓN Y EL ESFUERZO DEL USUARIO. NOSOTROS Y
            NUESTROS SOCIOS NO TENEMOS NINGUNA RESPONSABILIDAD RESPECTO AL USO
            DE LA INFORMACIÓN O CUALQUIER OTRO CONTENIDO DISPONIBLE DESDE LA
            PÁGINA, O EN LA PÁGINA EN SÍ. EN PARTICULAR, AUNQUE NO COMO UNA
            LIMITACIÓN DEL MISMO, NOSOTROS Y NUESTROS SOCIOS NO SOMOS
            RESPONSABLES POR DAÑOS Y PERJUICIOS, DAÑOS INDIRECTOS, ESPECIALES O
            EMERGENTES (INCLUIDOS LOS DAÑOS POR PÉRDIDA DE NEGOCIO, PÉRDIDA DE
            BENEFICIOS, LITIGIOS O SIMILARES), YA SEA BASADO EN EL
            INCUMPLIMIENTO DEL CONTRATO, EL INCUMPLIMIENTO DE LA GARANTÍA,
            AGRAVIO, RESPONSABILIDAD DEL PRODUCTO; NI POR CUALQUIER RECLAMACIÓN
            DE TERCEROS DE CUALQUIER NATURALEZA, INCLUSO SI SE HA ADVERTIDO DE
            LA POSIBILIDAD DE TALES DAÑOS O RECLAMOS. LA NEGACIÓN DE DAÑOS
            ESTABLECIDA ARRIBA ES UN ELEMENTO FUNDAMENTAL DE LA BASE DE LA
            NEGOCIACIÓN ENTRE MÉXICO Y USTED. LA INFORMACIÓN Y OTRO CONTENIDO
            ESTÁ DISPONIBLE EN, O A TRAVÉS DE ESTA PÁGINA, Y LA PÁGINA EN SÍ,
            QUE NO SE OFRECERÍA SIN TALES LIMITACIONES. NINGÚN CONSEJO O
            INFORMACIÓN, YA SEA ORAL O ESCRITA, QUE OBTENGA DE MÉXICO A TRAVÉS
            DE LA PÁGINA CREARÁ NINGUNA GARANTÍA, REPRESENTACIÓN O GARANTÍA QUE
            ESTÉ ESTIPULADA EXPRESAMENTE EN ESTE ACUERDO.
          </p>

          <br />

          <h6 class="font-weight-bold">Los enlaces a otras páginas web:</h6>

          <p>
            La página puede ahora, o en el futuro, contener enlaces a páginas
            web de terceros. Nosotros no controlamos, investigamos, supervisamos
            o comprobamos dichas páginas web, no nos hacemos responsables de los
            programas de ordenador disponibles, contenido u opiniones expresadas
            en dichas páginas web, y no las investigamos, supervisamos o
            comprobamos. Proporcionamos dichos enlaces de terceros únicamente
            para comodidad de los visitantes de la página, y la inclusión de un
            enlace no implica la aprobación o la des-aprobación de la página
            vinculada por nosotros. Si usted decide abandonar la página y
            acceder a cualquier página web de terceros, lo hace bajo su propio
            riesgo.
          </p>

          <br />

          <h6 class="font-weight-bold">Información y Comunicados de prensa:</h6>

          <p>
            La página puede contener entrevistas, debates, comunicados de prensa
            y otra información (colectivamente, "Información") acerca de
            nosotros, nuestra empresa y nuestros servicios, incluyendo enlaces a
            páginas web de terceros que contengan dicha información, que se esté
            proporcionando a conveniencia de los visitantes de la página. A
            pesar de que toda la información preparada por
            <span class="text-secondary font-weight-bold">motorcity.mx</span> se
            cree exacta a partir de la fecha de preparación, negamos cualquier
            derecho u obligación de actualizar cualquier información. No se debe
            confiar en que declaraciones referentes a empresas distintas de
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            que estén contenidas en dicha información fueran facilitadas o
            endosadas por nosotros. Las opiniones expresadas en cualquier
            información, incluyendo los empleados y agentes de
            <span class="text-secondary font-weight-bold">motorcity.mx</span>,
            son exclusivamente las del autor y no reflejan necesariamente el
            parecer de
            <span class="text-secondary font-weight-bold">motorcity.mx</span>.
            Con respecto a la información que figura en los enlaces a páginas
            web de terceros, por favor consulte la sección "Enlaces a otras
            páginas web" arriba.
          </p>

          <br />

          <h6 class="font-weight-bold">Comunicaciones de Visitantes:</h6>

          <p>
            Salvo disposición expresa en contra nuestra, todos los comentarios,
            retroalimentación, información o materiales que usted envíe a través
            o en asociación con la página se considerará no confidencial. Al
            enviarnos dichos comentarios, opiniones, información o material:
          </p>

          <br />

          <ul style="list-style-type: lower-roman;">
            <li>
              <p>
                Usted manifiesta y garantiza que el uso de
                <span class="text-secondary font-weight-bold"
                  >motorcity.mx</span
                >
                es bajo su responsabilidad y no contraviene ningún acuerdo, no
                viola ninguna ley, o infringe los derechos de algún tercero.
              </p>
            </li>

            <li>
              <p>
                Usted manifiesta y garantiza que tiene todos los derechos para
                aceptar este acuerdo.
              </p>
            </li>

            <li>
              <p>
                Usted acepta que
                <span class="text-secondary font-weight-bold"
                  >motorcity.mx</span
                >
                es libre de utilizar de cualquier forma la totalidad o parte de
                los contenidos de cualquier comunicación sin restricciones y sin
                la obligación de notificárselo, identificar o compensárselo de
                cualquier otra forma;
              </p>
            </li>

            <li>
              <p>
                Usted concede a
                <span class="text-secondary font-weight-bold"
                  >motorcity.mx</span
                >
                todos los derechos necesarios, incluyendo la renuncia a toda la
                privacidad y los derechos morales, a utilizar todos los
                comentarios, retroalimentación, información o material, en su
                totalidad o en parte, o como una obra derivada, sin ninguna
                obligación por parte
                <span class="text-secondary font-weight-bold"
                  >motorcity.mx</span
                >
                a cualquiera que sea. No aceptamos ideas no solicitadas, obras u
                otros materiales y usted reconoce que usted es responsable de
                asumir todos los riesgos relativos a la utilización o
                distribución de dichas ideas, obras o materiales.
              </p>
            </li>

            <li>
              <p>
                <span class="text-secondary font-weight-bold"
                  >motorcity.mx</span
                >
                prohíbe expresamente la localización de las direcciones de
                correo electrónico desde cualquier página web (incluyendo todas
                las áreas de esta página - miembros y no miembros) y opta
                expresamente por no recibir mensajes de correo electrónico
                comerciales dirigidos a direcciones de correo electrónico de
                <span class="text-secondary font-weight-bold"
                  >motorcity.mx</span
                >
                con dominio en México que se hayan obtenido en violación de lo
                anterior, o mediante el uso de software automático de generación
                de direcciones.
              </p>
            </li>
          </ul>

          <br />

          <h6 class="font-weight-bold">Cookies:</h6>

          <p>
            <span class="text-secondary font-weight-bold">motorcity.mx</span>
            hace uso de cookies. Las cookies son archivos que identifican en
            nuestro servidor a su ordenador. Las cookies por sí mismas no
            identifican al usuario individual, sino al ordenador utilizado.
            Muchas páginas hacen esto cada vez que un usuario visita su página
            con el fin de realizar un seguimiento de los flujos de tráfico. Los
            cookies propios sólo registran aquellas áreas de la página que hayan
            sido visitadas por el equipo y durante cierto tiempo. Usted puede
            evitar el uso de cookies mediante la configuración de su navegador
            web, pero tenga en cuenta que esto puede dificultar algunas de las
            funcionalidades de la página web.
          </p>

          <br />

          <p>
            Datos, Terceros y cumplimiento de la Ley de Protección de Datos
            Personales en Posesión de Terceros:
          </p>

          <br />

          <p>
            Toda la información presentada en esta página se lleva a cabo de
            manera segura y transfiere a las partes interesadas a través de un
            servidor seguro, de conformidad con la Ley de Protección de Datos de
            1998. Si pasamos su información a terceros nos aseguramos de que su
            información personal será tratada con la misma seguridad y
            confidencialidad.
          </p>

          <hr class="mt-60" />
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
</main>
