<table style="width: 650px;" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td style="width: 40px; background: #010101;">&nbsp;</td>
      <td
        style="width: 570px; height: 140px; background: #010101;"
        align="center"
      >
        <img
          src="https://motorcity.mx/images/logo.png"
          alt="motorcity-logo"
          width="250"
        />
      </td>
      <td style="width: 40px; background: #010101;">&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 40px; background: #010101;">&nbsp;</td>
      <td
        style="width: 570px; background: #fff; color: #565656; padding: 20px 30px; font-size: 14px;"
      >
        <table
          style="width: 500px;"
          cellspacing="0"
          cellpadding="0"
          align="center"
        >
          <tbody>
            <tr style="color: #000;">
              <td style="padding: 10px;">
                Este es un correo enviado por
                <strong>
                  <span style="color: #34dbc5;">Motorcity</span>
                  <span style="color: #ffb09f;">.</span>
                  <span style="color: #34dbc5;">mx</span>
                </strong>
              </td>
            </tr>
            <tr style="color: #000;">
              <td style="padding: 10px;"><strong>Id: </strong> {{ id }}</td>
            </tr>
            <tr style="color: #000;">
              <td style="padding: 10px;">
                <strong>Nombre: </strong> {{ name }}
              </td>
            </tr>
            <tr style="color: #000;">
              <td style="padding: 10px;">
                <strong>Tel&eacute;fono: </strong> {{ phone }}
              </td>
            </tr>
            <tr style="color: #000;">
              <td style="padding: 10px;">
                <strong>Email: </strong> {{ email }}
              </td>
            </tr>
            <tr style="color: #000;">
              <td style="padding: 10px;">
                <strong>Ingresos: </strong> {{ income }}
              </td>
            </tr>
            <tr style="color: #000;">
              <td style="padding: 10px;">
                <strong>Interesado en: </strong> {{ vehicleType }}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="width: 40px; background: #010101;">&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 40px; background: #010101;">&nbsp;</td>
      <td
        style="width: 570px; height: 90px; background: #010101; padding: 0 30px; font-size: 14px; color: #fff;"
        align="center"
      >
        MotorCity 2019
      </td>
      <td style="width: 40px; background: #010101;">&nbsp;</td>
    </tr>
  </tbody>
</table>
